.container
{
    width: 80%;
    max-width:1000px;
    margin: 20px auto;
}

.jumbotron
{
    text-align:center;
}

#header .col
{
    text-align:center;
}

#header .col a
{
    display: inline-block;
    margin: 2px 20px;
}

#footer
{
    text-align:center;
}
